@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Tektur:wght@400;600&display=swap');


* {
  margin:0;
  padding:0;
}

body {
  font-size: 100%;
  background:linear-gradient(68.15deg, #FFF7DF 20%, #2f2325 80%);
  box-sizing: border-box;
  text-decoration: none;
}

.conteiner-cabecalho {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.3em;
}

.imagem-cabecalho {
  border-radius:50%;
  border:3px solid #FFF7DF;
  width:150px;
  height:150px;
  margin: 10px;
}

.primeiro-titulo-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
}

.titulo-nome {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #2f2325;
  line-height: 1.3em;
}

.item-cabecalho {
  display: flex;
  font-size: 1em;
  color: #1E1E1E;
  line-height: 1.2em;
  font-family: 'Fraunces', serif;
}

.conteudo {
  border-top: 2px solid #FFF7DF;
}

.conteudo-principal {
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 margin: 10px;
 padding: 10px;
}

.titulo-conteudo {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #2f2325;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align:start;
}

.paragrafo {
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
  font-family: 'Fraunces', serif;
  color: #2f2325;
  margin: 5px;
  padding: 5px;
}

.imagem-conteudo {
  border-radius:50%;
  border:3px solid #FFF7DF;
  width:200px;
  height:200px;
  margin: 10px;
}

.conteudo-rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  border-top: 1px solid #FFF7DF;
}

.rodape {
  margin: 20px;
  text-align: center;
}

.titulo-rodape {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #2f2325;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align:start;
}

.logo-rodape {
  border-radius:50%;
  border:3px solid #FFF7DF;
  width:100px;
  height:100px;
  text-align: center;
  margin: 10px;
}

.logo-rodape:hover:not(:hover) {
  opacity:0.5;
}
img:hover {
  scale:1.1;
  background-color: #FFF7DF;
}

.copy {
  color: #2f2325;
  font-size: 1em;
}









