@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Tektur:wght@400;600&display=swap');


* {
  margin:0;
  padding:0;
}

body {
  font-size: 100%;
  background:linear-gradient(65.20deg, #1D5B79 25%, #468B97 25%, #EF6262 25%, #F3AA60 25%);
  box-sizing: border-box;
  text-decoration: none;
}

.conteiner-cabecalho {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.3em;
}

.imagem-cabecalho {
  border-radius:50%;
  border:4px solid #FFF7DF;
  background:linear-gradient(55.50deg, #CCD6A6 50%, #DAE2B6 20%, #F4EAD5 20%, #FFFBE9 10%);
  width:150px;
  height:150px;
  margin: 10px;
}

.primeiro-titulo-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
}

.titulo-nome {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #FFF7DF;
  line-height: 1.3em;
}

.item-cabecalho {
  display: flex;
  font-size: 1em;
  color: #FFF7DF;
  line-height: 1.2em;
  font-family: 'Fraunces', serif;
}

.conteudo {
  border-top: 2px solid #FFF7DF;
  margin:10px;
}

.conteudo-principal {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 flex-direction: row;
 
 margin: 10px;
 padding: 10px;
}

.titulo-conteudo {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #FFF7DF;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align:start;
}

.paragrafo {
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
  font-family: 'Fraunces', serif;
  color: #FFF7DF;
  margin: 5px;
  padding: 5px;
}

.imagem-conteudo {
  border-radius:50%;
  border:4px solid #FFF7DF;
  width:200px;
  height:200px;
  margin: 10px;
  border-radius: 50%;
  background:linear-gradient(55.50deg, #CCD6A6 50%, #DAE2B6 20%, #F4EAD5 20%, #FFFBE9 10%);
}

.conteudo-rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  border-top: 2px solid #FFF7DF;
  margin: 10px;
}

.rodape {
  margin: 20px;
  text-align: center;
}

.titulo-rodape {
  font-weight:700;
  font-size:1.5em;
  font-family:'Tektur', cursive;
  color: #2f2325;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align:start;
}

.logo-rodape {
  border-radius:50%;
  border:4px solid #FFF7DF;
  width:100px;
  height:100px;
  text-align: center;
  margin: 10px;
  background:linear-gradient(55.50deg, #CCD6A6 50%, #DAE2B6 20%, #F4EAD5 20%, #FFFBE9 10%);
}

.logo-rodape:hover:not(:hover) {
  opacity:0.5;
}
img:hover {
  scale:1.1;
  
}

.copy {
  color: #2f2325;
  font-size: 1em;
}










